@font-fece {
	font-family: "Victor Mono Nerd Font";
	src: url("Victor.ttf");
}
* {
	--bg: #192330;
	--fg: #cdcecf;
	--black1: #393b44;
	--black2: #575860;
	--red1: #c94f6d;
	--red2: #d16983;
	--green1: #81b29a;
	--green2: #8ebaa4;
	--yellow1: #dbc074;
	--yellow2: #e0c989;
	--blue1: #719cd6;
	--blue2: #86abdc;
	--magenta1: #9d79d6;
	--magenta2: #baa1e2;
	--cyan1: #63cdcf;
	--cyan2: #7ad4d6;
	--white1: #dfdfe0;
	--white2: #e4e4e5;
}

a, a:link, a:visited {
	text-decoration: none;
	color: var(--cyan1);
}

html {
	width: 100%;
	height: 100%;
}

body {
	font-family: "Victor", monospace;
	font-size: 1.8em;
	background-color: var(--bg);
	width: 90vw;
	height: 90vh;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
}

h1 {
	font-weight: normal;
	color: var(--fg);
}

.highlight {
	color: var(--cyan1);
}

table,
td,
th {
	border-collapse: collapse;
	border: 4px solid var(--cyan1);
	text-align: center;
}

th {
	padding: 10px;
}
