@font-face {
	font-family: "Victor Mono Nerd Font";
	src: url("Victor.ttf");
}
* {
	--bg: #192330;
	--bg2: #212f40;
	--bg3: #2a3b50;
	--fg: #cdcecf;
	--black3: #14141e;
	--black4: #1d1d2b;
	--black5: #212130;
	--black6: #282c34;
	--black1: #393b44;
	--black2: #575860;
	--white1: #dfdfe0;
	--white2: #e4e4e5;
	--red1: #c94f6d;
	--red2: #d16983;
	--orange1: #e6873c;
	--orange2: #eb9c60;
	--yellow1: #dbc074;
	--yellow2: #e0c989;
	--green1: #81b29a;
	--green2: #8ebaa4;
	--cyan1: #63cdcf;
	--cyan2: #7ad4d6;
	--blue1: #719cd6;
	--blue2: #86abdc;
	--magenta1: #9d79d6;
	--magenta2: #baa1e2;
}

a,
a:link,
a:visited {
	text-decoration: none;
	color: var(--cyan1) !important;
}

html {
	width: 100%;
	height: 100%;
}

body {
	font-family: "Victor", monospace;
	font-size: 1.4em;
	background-color: var(--bg);
	color: var(--fg);
	width: 90vw;
	height: 90vh;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
}

.clock {
	text-align: center;
	width: 100%;
}

footer {
		bottom: 0;
		margin: auto;
		position: fixed;
		width: 90%;
}

h1 {
	font-weight: normal;
	color: var(--fg);
	text-align: center;
	position: relative;
	top: -20px;
}

.highlight {
	color: var(--cyan1);
}

.image {
	display: flex;
	justify-content: center;
	position: relative;
	top: 0px;
}

.table {
	border: 0px solid var(--black1);
	border-radius: 8px;
}

table {
	border-collapse: collapse;
	border: 0px solid var(--black1);
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	position: relative;
	top: 0px;
}

td {
	border-collapse: collapse;
	border-right: 3px solid var(--bg);
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

td:last-child {
	border-right: 0 none;
}

th {
	border-collapse: collapse;
	border-right: 3px solid var(--bg);
	text-align: center;
	padding: 10px;
	background-color: var(--bg2);
	color: var(--green1);
}

th:last-child {
	border-right: 0 none;
}

/*tr:nth-child(odd) {*/
tr {
	background-color: var(--black3);
}
